@font-face {
    font-family: Arame;
    src: url(assets/Arame_Regular.otf);
}

@font-face {
    font-family: ArameBold;
    src: url(assets/Bold.otf);
}

body {

    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: monospace;
    overflow: hidden;
    color: white;

}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Arame;
}

#mainHUDContainer {

    width: 100vw;
    height: 100vh;
    margin: 0;

}

#cameraOverlay {

    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

}

.centered {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.box-shadow {

    box-shadow: 0 0 5px #000000;

}

.text-shadow {

    text-shadow: 0 0 7px #000000;

}

.hidden {
    display: none;
}

.targetingCircle {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: targeting-circle-animation 5s infinite;
    
}

@keyframes targeting-circle-animation {
    0% {
        transform: translate(-50%, -50%), rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%), rotate(360deg);
    }
}

.pane {

    border: 2px solid white;
    padding: 5px;
    margin-top: 30px;

}

.paneTitle {
    position: relative;
    bottom: 30px;
}

.paneContent {
    position: relative;
    bottom: 7.5px;
}

.arame {
    font-family: Arame;
}

.targetingCircleInner1 {

    position: absolute;
    width: 120px;
    height: 120px;
    clip-path: circle(35% at 100% 50%);
    border: 5px solid transparent;
    box-sizing: border-box;

}



.targetingCircleInner2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: border-box;
}

.targetingCircleInner4 {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: border-box
}

.targetingCircleInner3 {

    position: absolute;
    width: 120px;
    height: 120px;
    clip-path: circle(35% at 0 50%);
    border: 5px solid transparent;
    box-sizing: border-box;

}
