@font-face {
  font-family: "Lovelo-Black";
  src:  url("fonts/Lovelo-Black.otf");
}

@font-face {
  font-family: "Lovelo-LineBold";
  src:  url("fonts/Lovelo-LineBold.otf");
}

@font-face {
  font-family: "Lovelo-LineLight";
  src:  url("fonts/Lovelo-LineLight.otf");
}