body {
    
    width: 100%;
    height: 100%;
    margin: 0;
    
}

body, input {
    font-family: "Lovelo-Black", Helvetica, Arial, sans-serif;
}

@keyframes HeaderAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.header {
    
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #3C78FB, #44BDEA, #7A81FF, #76D6FF);
    background-size: 800% 800%;
    position: fixed;
    top: 0;
    left: 0;
    animation: HeaderAnimation 25s ease infinite;
    
}

.header h1 {
    
    font-family: "Lovelo-Black";
    font-size: 400%;
    color: white;
    margin: 0;
    
}

.header div {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    max-width: 700px;
    
}

.header div button {
    
    background-color: white;
    margin-top: 4px;
    color: black;
    width: 145px;
    height: 45px;
    font-size: 14px;
    border: 5px solid white;
    border-radius: 8px;
    font-family: inherit;
    
}

.header div button:active {
    
    background-color: transparent;
    color: white;
    
}

.header span {
    
    font-family: "Lovelo-LineBold";
    
}

.header input {
    
    border: 5px solid white;
    padding: 20px;
    border-radius: 10px;
    width: 35vw;
    max-width: 700px;
    font-size: 16px;
    box-sizing: border-box;
    
    transition: width 0.4s ease-in-out;
    
}
.header input:focus {
    
    outline: none;
    
    font-size: 16px;
    color: white;
    background-color: transparent;
    
}
.header input:focus::placeholder {
    
    color: white;
    
}